table,input,select,button,.mainblocks{
	background:#fff;
	color: black;
	border-radius:5px;
}
table tr td:first-child,table tr th:first-child{
	padding:15px;
	//border-top:0px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
body{
    background-color: #333333;
}
.modal{
	color: black;
}
.container{   
	color: #fff;
    margin-top: 40px;
	display: block;
	margin-right: 30px;
}
.fat {
	font-size: 120%;
	font-weight: bold;
}
.tab_out{
	position:relative;
	height: 60px;
	width:100%;
	top: 0px;
}
label{
	cursor:pointer;
}
.tab{
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	position: fixed;
	z-index: 1;
	height: 60px;
	width: 100%;
	background:#333333;
	background: -webkit-linear-gradient(top, rgb(12,12,12) 0%,#333333 100%);
	background: linear-gradient(top, rgb(12,12,12) 0%,#333333 100%);
   background: -moz-linear-gradient(top, rgb(12,12,12) 0%,#333333 100%);
}
.tab button{
	margin-top:-5px;
	padding:10px 25px 10px 25px;
}
.left-menu {
	float: left;
}

.right-menu {
	float: right;
}

.nav.dropdown {
	margin-right: 100px;
}

#ti{
	margin-top: 10px;
	margin-left: 10px;
}

.left_tab{
	position: fixed;
	z-index:10;
	float:left;
	width:7%;
	background: rgba(0,0,0,0.05);
	margin-top: 5%;
	margin-left: 1%;
	text-align: center;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}
.left_tab a{
	text-decoration: none;
	font-size: 1.2em;
	text-align: center;
}
.left_tab img{
	width: 80%;
	height: 40px;
}
.left_tab img:hover{
	background: #f8f8f8;
	opacity: 0.75;
	-moz-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
/**Create order page*/
.create_order{
	padding:1px;
}
.create_order table{
	background:#fff;
}
.selectid{
	width: 100%;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}
@media (min-width: 768px){
	.createbtns{
		margin-top: 20px;
	}
}
.submitbtn button{
	padding:10px 25px 10px 25px;
}
.submitbtn ul li {
	list-style-type:none;
	float: left;
	padding-right: 2px;
}
#create_page{
	background:#fff;
	border-radius:5px;
	padding:5px;
	float:right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}
.bnum{
	visibility: hidden;
	position:absolute;
}
.bnuml{
	margin-left:10px;
}
.bnumr{
	margin-left:-28px;
}
.order_block{
	padding-right: 5px;
	height: 300px;
	float:left;  
}
.ob_nav{
	border-radius:5px;
	height: 280px; 
}
.ob_nav table{
	height: 280px;
	border-radius:5px;
		width:100%;
}
.ob_nav table th{
	background: #f8f8f8;
	font-size: 1.2em;
	padding:10px;
	//white-space:nowrap; 
	border-radius:5px;
}
#ob_tbl_th td{
	font-weight: bold;
	text-align:center;
	padding: 10px 10px 0px 10px;
}
#ob_tbl_tb td{
	text-align:center;
	padding: 15px 0px 15px 0px;
}
#ob_tbl_tb1 td{
	display: none;
	text-align:center;
	padding: 15px 0px 15px 0px;
}
#ob_tbl_tb th{
	padding-bottom: 12px;
}
.morerow{
	display: inline;
	padding-left:0px;
	cursor:pointer;
}
.morerow a{
	text-decoration:none;
}
.paybtn{
	display: inline;
	position: absolute;
	bottom:0px;
	padding-left: 5px;
	bottom: 24px;
}
.paybtn form{
	display: inline;
}
.paid span{
	color: #0ab159;	
	visibility:hidden;
	z-index:9999;
}
/**Help tips*/
.helptip{
    position: absolute;
    right: 10px;
    top: -7px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 5px;
    z-index: 1000;
    -webkit-animation: move-in-right cubic-bezier(.22,.58,.12,.98) .4s;
    animation: move-in-right cubic-bezier(.22,.58,.12,.98) .4s;
    box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.55);
}
.icona:focus,
.icona:hover{
	text-decoration:none;
}
@keyframes move-in-right{
	0% {
		opacity: 0;
		-webkit-transform: translate(-5em,0);
		transform: translate(-5em,0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}
}
/** Admin Login */
.main{
	background:#fff;
	border-radius: 5px;
	padding-top:10px;
	box-shadow: 3px 3px 20px 1px black;
}
.sysTit{
	color:#fff;
}
.seepwd{
	position:absolute;
	margin-top: -27px;
	margin-left: 90%;
	cursor:pointer;
}
/** Recharge Page*/
	.cards{
		background:#fff;
		width:100%;
		color:black;
		padding:20px;
		height:400px;
	}