div{color:black;}
.myheader {
    height: 800px;
    background: url('../img/5.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.tagline {
    text-shadow: 0 0 10px #000;
    color: white;
}
.img-center {
    margin: 0 auto;
}
.footwrap{
    min-height: 600px;
	padding-top: 50px;
}
.mainbody{
    background: #1E3E57;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:-1;
}
.contactInfo{
    border-radius:5px; 
    background:white; 
    margin-left:20px;
    box-shadow: 1px 2px 12px 0px #555;
}
.login{
    border-radius:5px; 
    background:white; 
    padding-bottom:40px;
    box-shadow: 1px 2px 12px 0px #555;
}
.addorder{
	color:#dae6f0;
}
.customer{
	color:#dae6f0;
}
.btn-org{
	background: #DB4C4C;
	color: #fff;
}
.stars{
	padding-right: 5px;
}
.ordertable{
    padding:20px;
    background:#fff;
    border-radius:5px;
}